.collapse-show {
  display: none;
  visibility: visible;
}

.user-profile-header{
	/*background-color: #F48F79;*/
	padding-bottom: 0px;
	padding-top: 50px;
}

.user-profile-pic{
	width: 100px;
	height: 100px;
	background-image: url("../img/patrick.jpg");
}

.row-with-small-padding {
	padding: 10px;
}

.tab-pane-content {
	margin-top: 10px;
}

.profile-pic {
	width: 200px;
	height: 200px;
}

.short-input {
	max-width: 300px;
}
