.chat-box {
	width: 100%;
	height: 300px;
	border: solid #fff 1px;
	margin: auto;
	background-color: rgb(255,255,255);
	opacity: 0.6;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.chat-entry {
	margin: 20px auto;
}

.chat-entry input {
	width: 300px;
	opacity: 0.6;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}