

     <section class="user-profile-tabs">
        <div class="container">
            <div class="row">
                <!-- <div class="col-xs-3"> //search vertical tabs
                    <ul class="nav nav-tabs tabs-left">
                      <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
                      <li><a href="#profile" data-toggle="tab">Profile</a></li>
                      <li><a href="#messages" data-toggle="tab">Messages</a></li>
                      <li><a href="#settings" data-toggle="tab">Settings</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </section>

    var loggedInNavBarMessage = 
                        '<div class="dropdown">' + 
                            '<button class="btn btn-lit dropdown-toggle no-padding" ' + 
                            'type="button" data-toggle="dropdown">Welcome ' + data +
                            '<span class="caret"></span></button>' +
                            '<ul class="dropdown-menu">' +
                                '<li><a href="#">HTML</a></li>' +
                                '<li><a href="#">CSS</a></li>' +
                                '<li><a class="song" href="#">我的主页</a></li>' +
                                '<li><a class="song" id="logoutBtn">登出</a></li>' + 
                            '</ul>' +
                        '</div>';